<%= content_for :add_css do %>
<%= stylesheet_link_tag 'program_entries' %>
<% end %>

<div class="iox-content iox-content-container" id="iox-pe-content">
  <!--div class="iox-sidebar-arrow"></div-->
  <div class="iox-content-frame">

    <div class="iox-content-padding syncer-form">

      <%= form_for @syncer, html: { class: 'iox-form' } do |f| %>

        <%= render partial: 'form', locals: { f: f } %>

        <div class="iox-form-control">
          <button type="submit" class="btn btn-primary">Erstellen</button>
        </div>

      <% end %>

    </div>

  </div>
</div>
